# local secrets
.local.env

# dependencies
node_modules

# production
/build
/dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
